// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.details {
background-color: lightgrey;
border: 1px solid grey;
border-radius: 5px;
padding: 10px;
width: 500px;
}
.form-group {
  border-radius: 5px;
}
